.black{
  background-color: black;
  border: 1px solid white;
  height: 7vw;
  padding: 2%;
}

.orange{
  background-color: orange;
  border: 1px solid white;
  height: 7vw;
  padding: 2%;
}

.yellow{
  background-color: yellow;
  border: 1px solid white;
  height: 7vw;
  padding: 2%;
}